.attribution { 
    font-size: .88rem; 
    text-align: center; 
    padding-bottom: 2rem;
    a { 
        color: hsl(228, 45%, 44%); 
        font-weight: 700;
        text-decoration: none;
    }
}
    