header {
    padding: 2.25rem 0 5rem;
    background: $Very-Pale-Blue;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 1s;
    .header-container {
        span {
            color: $Dark-Grayish-Blue;
            font-weight: 700;
            font-size: .88rem;
        }
        &__upper {
            padding-bottom: 1rem;
            border-bottom: 1px solid $Dark-Grayish-Blue;
            h1 {
                font-size: 1.5rem;
            }
            span {
                line-height: 2;
            }
        }
    }
}