@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper {
  min-height: 100vh;
}

.wide-container {
  width: 88%;
  margin: 0 auto;
  max-width: 70rem;
}

h1,
h2 {
  color: #1e202a;
}

header {
  padding: 2.25rem 0 5rem;
  background: #f5f7ff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header-container span {
  color: #63687e;
  font-weight: 700;
  font-size: .88rem;
}

header .header-container__upper {
  padding-bottom: 1rem;
  border-bottom: 1px solid #63687e;
}

header .header-container__upper h1 {
  font-size: 1.5rem;
}

header .header-container__upper span {
  line-height: 2;
}

.card-container {
  background: #f0f2fa;
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
  position: relative;
  overflow: hidden;
}

.card-container .username-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container .username-container__username {
  color: #63687e;
  font-weight: 700;
  font-size: .88rem;
}

.card-container .username-container svg {
  margin-right: .5rem;
}

.card-container .counter-container {
  margin: 1rem 0;
}

.card-container .counter-container span {
  display: block;
}

.card-container .counter-container__counter {
  color: #1e202a;
  font-weight: 700;
  font-size: 3.5rem;
}

.card-container .counter-container__label {
  color: #63687e;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.rate {
  color: white;
  font-weight: 700;
  font-size: .88rem;
}

.up-rate {
  color: #1db489;
}

.up-rate::before {
  content: url(/assets/images/icon-up.svg);
  margin-right: .5rem;
  position: relative;
  top: -0.125rem;
}

.down-rate {
  color: #dc414c;
}

.down-rate::before {
  content: url(/assets/images/icon-down.svg);
  margin-right: .5rem;
  position: relative;
  top: -0.125rem;
}

.card-container--facebook::after {
  content: '';
  height: 0.25rem;
  background: #198ff5;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.card-container--facebook .rate::before {
  content: url(/assets/images/icon-up.svg);
  margin-right: .5rem;
  position: relative;
  top: -0.125rem;
}

.card-container--twitter::after {
  content: '';
  height: 0.25rem;
  background: #1ca0f2;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.card-container--instagram::after {
  content: '';
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.card-container--youtube::after {
  content: '';
  height: 0.25rem;
  background: #c4032a;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.card-container--overview {
  padding: 1.5rem 1.75rem;
  margin-bottom: 1rem;
}

.card-container--overview .label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.card-container--overview .label-container__label {
  color: #63687e;
  font-weight: 700;
  font-size: .88rem;
}

.card-container--overview .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-container--overview .stats-container__stat {
  color: #1e202a;
  font-size: 2rem;
  font-weight: 700;
}

.card-container--overview:last-of-type {
  margin: 0;
}

.grid-container {
  -webkit-transform: translateY(-3.5rem);
          transform: translateY(-3.5rem);
}

.grid-container .grid--upper-container {
  padding-bottom: 1.5rem;
}

.grid--lower-container {
  padding-top: 1.5rem;
}

.toggle {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #63687e;
  font-weight: 700;
  font-size: .88rem;
}

.toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle .slider {
  position: absolute;
  width: 3rem;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  background: #aeb3cb;
  border-radius: 1.375rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.toggle .slider:focus {
  outline: 0.1875rem auto #3eda82;
}

.toggle .slider::before {
  position: absolute;
  content: '';
  height: 1.15rem;
  width: 1.15rem;
  right: 0.2rem;
  bottom: 0.1875rem;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(to right, #378fe6, #3eda82);
}

input:checked + .slider:before {
  -webkit-transform: translateX(-1.375rem);
          transform: translateX(-1.375rem);
  background-color: #252a41;
}

.dark-mode {
  background: #1e202a;
}

.dark-mode h1,
.dark-mode h2 {
  color: white;
}

.dark-mode header {
  background: #1f212e;
}

.dark-mode header .header-container span {
  color: #8b97c6;
}

.dark-mode header .toggle {
  color: #8b97c6;
}

.dark-mode .card-container {
  background: #252a41;
}

.dark-mode .card-container .username-container__username {
  color: #8b97c6;
}

.dark-mode .card-container .counter-container__counter {
  color: white;
}

.dark-mode .card-container .counter-container__label {
  color: #8b97c6;
}

.dark-mode .card-container .label-container__label {
  color: #8b97c6;
}

.dark-mode .card-container .stats-container__stat {
  color: white;
}
/*# sourceMappingURL=styles.css.map */